USE [master]
GO
/****** Object:  Database [AkaryakitSistemi]    Script Date: 10/10/47 10:09:36 م ******/
CREATE DATABASE [AkaryakitSistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AkaryakitSistemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AkaryakitSistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AkaryakitSistemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AkaryakitSistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AkaryakitSistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AkaryakitSistemi]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_KdvliFiyat]    Script Date: 10/10/47 10:09:37 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_KdvliFiyat] (@HamFiyat DECIMAL(10,2))
RETURNS DECIMAL(10,2)
AS
BEGIN
    RETURN @HamFiyat * 1.20;
END;
GO
/****** Object:  Table [dbo].[Sehirler]    Script Date: 10/10/47 10:09:37 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sehirler](
	[SehirID] [int] IDENTITY(1,1) NOT NULL,
	[SehirAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SehirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yakitlar]    Script Date: 10/10/47 10:09:37 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yakitlar](
	[YakitID] [int] IDENTITY(1,1) NOT NULL,
	[YakitAdi] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[YakitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Istasyonlar]    Script Date: 10/10/47 10:09:37 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Istasyonlar](
	[IstasyonID] [int] IDENTITY(1,1) NOT NULL,
	[IstasyonAdi] [nvarchar](100) NOT NULL,
	[Adres] [nvarchar](200) NULL,
	[SehirID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IstasyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fiyat_Gecmisi]    Script Date: 10/10/47 10:09:37 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fiyat_Gecmisi](
	[FiyatID] [int] IDENTITY(1,1) NOT NULL,
	[IstasyonID] [int] NULL,
	[YakitID] [int] NULL,
	[Fiyat] [decimal](10, 2) NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FiyatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_GuncelFiyatlar]    Script Date: 10/10/47 10:09:37 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_GuncelFiyatlar] AS
SELECT I.IstasyonAdi, S.SehirAdi, Y.YakitAdi, F.Fiyat, F.Tarih
FROM Fiyat_Gecmisi F
JOIN Istasyonlar I ON F.IstasyonID = I.IstasyonID
JOIN Sehirler S ON I.SehirID = S.SehirID
JOIN Yakitlar Y ON F.YakitID = Y.YakitID;
GO
/****** Object:  Table [dbo].[Fiyat_Log]    Script Date: 10/10/47 10:09:37 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fiyat_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Mesaj] [nvarchar](255) NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fiyat_Gecmisi] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Fiyat_Log] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Fiyat_Gecmisi]  WITH CHECK ADD  CONSTRAINT [FK_Istasyon] FOREIGN KEY([IstasyonID])
REFERENCES [dbo].[Istasyonlar] ([IstasyonID])
GO
ALTER TABLE [dbo].[Fiyat_Gecmisi] CHECK CONSTRAINT [FK_Istasyon]
GO
ALTER TABLE [dbo].[Fiyat_Gecmisi]  WITH CHECK ADD  CONSTRAINT [FK_Yakit] FOREIGN KEY([YakitID])
REFERENCES [dbo].[Yakitlar] ([YakitID])
GO
ALTER TABLE [dbo].[Fiyat_Gecmisi] CHECK CONSTRAINT [FK_Yakit]
GO
ALTER TABLE [dbo].[Istasyonlar]  WITH CHECK ADD  CONSTRAINT [FK_Sehir] FOREIGN KEY([SehirID])
REFERENCES [dbo].[Sehirler] ([SehirID])
GO
ALTER TABLE [dbo].[Istasyonlar] CHECK CONSTRAINT [FK_Sehir]
GO
/****** Object:  StoredProcedure [dbo].[sp_FiyatEkle]    Script Date: 10/10/47 10:09:38 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FiyatEkle]
    @IstasyonID INT,
    @YakitID INT,
    @Fiyat DECIMAL(10,2)
AS
BEGIN
    INSERT INTO Fiyat_Gecmisi (IstasyonID, YakitID, Fiyat, Tarih)
    VALUES (@IstasyonID, @YakitID, @Fiyat, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GuvenliFiyatEkle]    Script Date: 10/10/47 10:09:38 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GuvenliFiyatEkle]
    @IstID INT,
    @YakID INT,
    @YeniFiyat DECIMAL(10,2)
AS
BEGIN
    INSERT INTO Fiyat_Gecmisi (IstasyonID, YakitID, Fiyat, Tarih)
    VALUES (@IstID, @YakID, @YeniFiyat, GETDATE());
END;
GO
USE [master]
GO
